<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">About Us</h1>

		<body bgcolor="lightgrey">
		<form>
      			<button type="submit" formaction="/fsd" style="background: grey; height: 100px; width: 200px; color:white; font:oblique;">KZB</button><br><br>
      			<button type="submit" formaction="/fmw" style="background: grey; height: 100px; width: 200px; color:white; font:oblique;">CZM</button><br><br>
      			<button type="submit" formaction="/ethan" style="background: grey; height: 100px; width: 200px; color:white; font:oblique;">GYS</button><br><br>
			<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="/">GO BACK</button><br><br>
		</form>
		</body>

	</font>
</center>
</html>
