<!DOCTYPE html>
<html>
<head>
	<title>Average Salary Calculated</title>
</head>
<center>
	<font color="DodgerBlue" size="5" style="font-family: avenir">
		<body bgcolor="lightgrey">
			<h1>CALCULATION COMPLETED</h1><br>
			<h2>Number of employee who live or work in {{ location }} : {{ emp_qty }}</h2><br>
			<h2>Average employee salary who live or work in {{ location }} : $ {{ avg_salary }}</h2><br>
			<form>
				<button type="submit" formaction="/toavgsalary" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>
			</form>
		</body>
	</font>
</center>

<body>

</body>
</html>
