<!DOCTYPE html>
<html>
<head>
	<title>Top 3 Salary</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Top 3 Salary Given Primary Skill</h1>

		<body bgcolor="lightgrey">

			<form action="/top3salarybyskill" autocomplete="on" method="POST">
				<h2 style="color: grey">Please Key In Valid Primary Skill</h2>

		  		Primary Skill:<br> <input style="height:25px;font-size:14pt;" type="text" name="skill" autofocus size="40"><br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Execute</button><br><br>
			</form>
			<form>
				<button type="submit" formaction="/employee" style="background: white; height: 45px; width: 200px; color: black; size: 5; font:oblique;" >Back</button>
			</form>

		</body>
	</font>
</center>
</html>
